<footer class="site-footer">
  <div class="ui inverted teal page stackable grid segment" id="footer">
    <div class="ten wide column">
      <div class="ui three column grid">
        <div class="column">
          <div class="ui header">{{ site.resourcesheading[page.lang] }}</div>
          <div class="ui inverted link list">
            <a class="item" href="https://github.com/davidnsw">Github</a>
            <a class="item" href="https://github.com/davidnsw" target="_blank">White Paper</a>
            <a class="item" href="https://davidnsw.github.io/lifeblog/#/" target="_blank">Wiki</a>
            <a class="item" href="https://davidnsw.github.io/lifeblog/#/" target="_blank">YouTube</a>
          </div>
        </div>
        <div class="column">
          <div class="ui header">{{ site.socialheading[page.lang] }}</div>
          <div class="ui inverted link list"> 
            <a class="item" href="https://davidnsw.github.io/homepage/">Douban</a>
            <a class="item" href="https://davidnsw.github.io/homepage/">#davidnsw @ Twitter</a>
            <a class="item"  href="https://davidnsw.github.io/homepage/">Reddit</a>
            <a class="item" href="https://davidnsw.github.io/homepage/">Facebook</a>
            <a class="item" href="https://davidnsw.github.io/homepage/">Telegram</a>
            <a class="item" href="https://davidnsw.github.io/homepage/">Blog</a>
          </div>
        </div>
        <div class="column">
          <div class="ui header">{{ site.toolsheading[page.lang] }}</div>
          <div class="ui inverted link list">
            <a class="item" href="https://davidnsw.github.io/lifeblog/">Key Generator</a>
            <a class="item" href="https://davidnsw.github.io/lifeblog/" target="_blank">Block Explorer</a>
            {% for exchange in site.exchanges %}
              <a class="item" href="{{ exchange.url }}">
                {{ exchange.name }}
              </a>
            {% endfor %}
          </div>
        </div>
      </div> 
    </div>
    <div class="six wide right floated aligned column contact-mobile">
      <h3 class="ui header">Contact Us</h3>
      <addr> Page developed by David CHEN
        <br>revived and modded by <a href="https://t.me/ksdme" style="color: white;">ksdme</a> 
      </addr><p>See-My-Blog@gmail.com</p>
    </div>
  </div>
</footer>
